
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/CSS/LoginHomeCSS.css" rel="stylesheet" />
    <link href="~/Content/CSS/RegistrationHomeCSS.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="main-content">
            <form class="login-form" action="~/Areas/LoginArea/Registration" method="post">

                <div class="form-group">
                    <label for="fName">First Name:</label>
                    <input type="text" class="form-control" id="fName" placeholder="Enter First Name">
                </div>

                <div class="form-group">
                    <label for="lName">Last Name:</label>
                    <input type="text" class="form-control" id="lName" placeholder="Enter Last Name">
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter Address">
                </div>

                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password">
                </div>

                <div class="form-group">
                    <label for="confirmPwd">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirmPwd" placeholder="Re-enter Password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <button type="submit" class="btn btn-success" onclick="" >Sign up</button>

                <a href="@Url.Action("Index","Home")" class="btn btn-primary signup">Already registered? Sign in</a>
            </form>
        </div>
    </main>
</body>
</html>
